<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.name %></title>
</head>
<body>
  <h2><%= data.name %>の詳細</h2>
  <table>
    <tr><th>項目</th><th>データ</th></tr>
    <tr><td>ID</td><td><%= data.id %></td></tr>
    <tr><td>名前</td><td><%= data.name %></td></tr>
    <tr><td>年齢</td><td><%= data.old %></td></tr>
    <tr><td>血液型</td><td><%= data.bloodtype %></td></tr>
    <tr><td>身長</td><td><%= data.tall %></td></tr>
  </table>
  <a href="/com2/edit/<%= data.id - 1 %>">編集</a>
  <a href="/com2">メンバー一覧に戻る</a>
  <a href="/com2/delete/<%= data.id - 1 %>">削除</a>
</body>
</html>